body{
    background: lightgray;
    font-family: Tahoma, Verdana;
}

#title, .subtitle, .post_title{
    color:slategray;
    font-size: 35px;
    text-transform: capitalize;
}

.top_image{
    border: 1px solid black ; 
    border-radius: 50%;
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: lightskyblue;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 2px;
}

.postcontent{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image{
    margin-bottom: 15px;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a{
    color: brown;
}